*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 1rem;
    background: #020202;
    color: #e5e5e5;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

.caja {
    width: 60px;
    height: 60px;
    background-color: aqua;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.contenedor-1 {
    border: 1px dashed #4b5563;
    padding: 1rem;
    
    display: flex;
}

.contenedor-2 {
    border: 1px dashed #4b5563;
    padding: 1rem;
    
    display: flex;
    flex-direction: row;
}

.contenedor-3 {
    border: 1px dashed #4b5563;
    padding: 1rem;
    
    display: flex;
    flex-direction: row;

    justify-content: flex-start; /*alineación horizontal (ROW en flex-direction) */
    align-items: flex-start; /*alineación vertical (COLUMN en flex-direction)*/
}

/* Estilos clase 5*/
.contenedor-centro {
    border: 1px dashed #4b5563;
    background: #3f4043;
    height: 200px;
    margin-top: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-demo {
    height: 35px;   
}

.caja-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.contenedor-wrap {
    display: flex;
    flex-wrap: wrap;
}