*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #3d348b;
}

/*Estilo para todos los parráfos (etiqueta p)*/

p {
    font-size: small;
    color: #f18701;
    font-family: Arial, Helvetica, sans-serif;
}

.mi-clase {
    color: #f7b801;
    background-color: #7678ed;
    display: block;
}

#mi-id .start {
    font-size: 15px;
}

.lenguaje-programacion {
    background-color: #f7b801;
}

#lenguaje-programacion {
    color: #3d348b;
}

.mi-clase a{
    color: #f7b801;
}

/* CONTENEDOR para ver mejor los inline-block */
.contenedor-inline-block {
    border: 1px dashed #aaa;
    padding: 10px;
}

/* INLINE-BLOCK: se alinean en fila, pero sí respetan width/height */
.caja {
    background-color: #aea5ff;
    border: 1px solid #333;
    padding: 8px;
    margin: 6px 0;
    text-align: center;
    font-weight: bold;
}

.caja-inline-block {
    display: inline-block;
    width: 120px;
    height: 60px;
    margin: 4px;
    line-height: 60px; /* centra el texto verticalmente */
    background-color: #a3d5ff;
}

.caja-block{
    display: block;
    position: relative;
    top: 100px;
    left: 20px;
}
input{
    width: 100px;
    height: 40px;
    font-size: larger;
    background-color: #7678ed;
}

input:hover{
    background-color: #7678ed;
    color: rgb(255, 255, 255);
}

div {
  background-color: rgb(255, 255, 255, 0.2);
}

/* Ejemplo Box Model*/
#box-model-demo {
    margin-top: 40px;
    padding: 20px;
    border-top: 2px solid #CCC;
}

.box-demo {
    width: 200px;
    height: 100px;
    padding: 20px; /*espacio interno*/
    border: 5px solid #333;
    margin: 15px; /*espacio externo*/
    background-color: #f7b801;
    color:#3d348b;
}

#box-sizing-demo{
    margin-top: 40px;
}

.box-cb,
.box-bb{
    padding: 20px;
    margin-bottom: 16px;
    border: 5px solid #333;
    background-color: #aea5ff;
    color: #333;
}

.box-cb{
    width: 200px;
    box-sizing: content-box;
}

.box-bb{
    width: 200px;
    box-sizing: border-box;
    background-color: #00e768;
}

/*Ejemplo herencia*/

h1{
    color: #3d348b;
}

.mi-clase h1{
    color: #a3d5ff;
}

table{
    background-color: #aea5ff;
    color: #f7b801;
}

.contenedor-referencias {
    border: 1px dashed #7678ed;
    padding: 1rem;
    
    display: flex;
    flex-direction: row;

    justify-content: flex-start; /*alineación horizontal (ROW en flex-direction) */
    align-items: flex-start; /*alineación vertical (COLUMN en flex-direction)*/
}

/*Paleta de colores daltonic friedly: 
    #3d348b
    #7678ed
    #f7b801
    #f18701
    #f35b04
    https://coolors.co/palette/3d348b-7678ed-f7b801-f18701-f35b04
*/