body {
    background-color: #3d348b;
}

/*Estilo para todos los parráfos (etiqueta p)*/

p {
    font-size: 18px;
    color: #f18701;
    font-family: Arial, Helvetica, sans-serif;
}

.mi-clase {
    color: #f7b801;
    background-color: #7678ed;
    display: block;
}

#mi-id .start {
    font-size: 15px;
}

.lenguaje-programacion {
    background-color: #f7b801;
}

#lenguaje-programacion {
    color: #3d348b;
}


/* CONTENEDOR para ver mejor los inline-block */
.contenedor-inline-block {
    border: 1px dashed #aaa;
    padding: 10px;
}

/* INLINE-BLOCK: se alinean en fila, pero sí respetan width/height */
.caja-inline-block {
    display: inline-block;
    width: 120px;
    height: 60px;
    margin: 4px;
    line-height: 60px; /* centra el texto verticalmente */
    background-color: #a3d5ff;
}

input{
    width: 100px;
    height: 40px;
    font-size: larger;
    background-color: #7678ed;
}

input:hover{
    background-color: #7678ed;
    color: rgb(255, 255, 255);
}

div {
  background-color: rgb(255, 255, 255, 0.2);
}

/*Paleta de colores daltonic friedly: 
    #3d348b
    #7678ed
    #f7b801
    #f18701
    #f35b04
    https://coolors.co/palette/3d348b-7678ed-f7b801-f18701-f35b04
*/